.about-page-content {
    padding-top: 100px;
    padding-bottom: 100px;
}
.mb-50 {
    margin-bottom: 50px;
}
.about-page-content .section-tittle h2 {
    font-size: 40px;
    display: block;
    color: #000a2d;
    font-weight: 700;
    line-height: 1.3;
}
.about-page-content .about-low-area .about-caption p {
    font-size: 16px;
    color: #64676c;
    line-height: 1.6;
    margin-bottom: 35px;
    padding-right: 50px;
}
.about-page-content .about-img {
    width: 470px;
    height: 570px;
    margin-left: auto;
}
.about-page-content .about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-page-content .btn {
    /* background: #000a2d; */
    background-color: #00428a;
    border-radius: 5px;
    /* text-transform: uppercase; */
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-size: 14px;
    padding: 25px 44px;
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
    border-radius: 50px;
}
@media (max-width: 996px){
    .about-page-content .about-img {
        width: 470px;
        height: 570px;
        margin-left: 0;
    }
    .about-page-content .section-title h2 {
        font-size: 35px;
    }
}
@media (max-width: 576px){
    .about-page-content {
        padding-top: 60px;
        padding-bottom: 80px;
    }
    .about-page-content .about-img {
        width: 100%;
        height: 470px;
    }
    .about-page-content .section-title h2 {
        font-size: 35px;
    }
}
