.form-cards {
    max-width: 900px;
    margin: 50px auto;
}
.form-card {
    padding: 60px 80px;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
}
.form-card-title {
    font-size: 23px;
    margin-bottom: 15px;
    color: #000;
    font-weight: 500;
    letter-spacing: 1.2px;
}
.form-card-textarea-group {
    width: 100%;
    margin-bottom: 15px;
}
.form-card-textarea-group label {
    display: block;
    margin-bottom: 8px;
    color: #000;
    font-size: 20px;
}
.form-card-textarea-group textarea {
    width: 100%;
    resize: vertical;
    padding: 5px 10px;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 4px;
}
.form-card-textarea-group textarea:focus {
    outline: none;
}
.form-card .btns-wrapper {
    width: 240px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    /* margin-right: auto; */
}
.form-card .cancel {
    width: 80px;
    color: gray;
    cursor: pointer;
}
.form-card span.btn {
    height: 45px;
    width: 160px;
    color: #fff;
    background-color: rgb(51,102,204);
    margin: 0;
    cursor: pointer;
}
.form-card span.btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: rgb(14, 69, 178); 
}


.form-card .checkbox-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form-card .input-group-checkbox, 
.form-card .input-group-checkbox {
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.form-card input[type=checkbox], 
.form-card input[type=checkbox] {
    width: 12px;
    height: 12px;
}
.form-card .checkbox-text, 
.form-card .checkbox-text {
    margin-left: 7px;
    font-size: 16px;
}
.form-card-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.form-card-group .form-card-textarea-group {
    flex: 0 49%;
}
.form-card-textarea-group input {
    width: 100%;
    padding: 5px 10px;
}

@media screen and (max-width: 992px) {
    .form-cards {
        max-width: 95%;
        margin: 50px auto;
    }
    .form-card {
        padding: 20px 20px;
    }
    .form-card .checkbox-row {
        grid-template-columns: 1fr;
    }
    .form-card .checkbox-text, 
    .form-card .checkbox-text {
        margin-left: 7px;
        font-size: 18px;
    }
}





/* QUICK QUOTE */
.form-card-input-group {
    width: 100%;
    margin-bottom: 20px;
}
.form-card-input-group label {
    display: block;
    margin-bottom: 0px;
    color: #000;
    font-size: 18px;
}
.error > div {
    color: red;
    margin-top: 3px;
}
.error-input {
    border: 1px solid red;
    padding: 10px;
}
.total {
    font-size: 20px;
    /* font-weight: bold; */
    background-color: rgb(40,167,69);
    color: #fff;
    text-align: center;
    padding: 10px 5px;
}
.info {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
}
/* .radio-row {
    font-family: sans-serif;
} */
/* .radio-row .input-group:first-child {
    margin-right: 10px;
} */
/* input[type='radio'] {
    margin-right: 8px; 
} */
.form-check {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}


.form-check-input:checked[type="radio"] {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2' fill='%23fff'/%3E%3C/svg%3E");
}
.form-check-input:checked {
    background-color: #3b7ddd;
    border-color: #3b7ddd;
}
.form-check-input[type="radio"] {
    border-radius: 50%;
}
.form-check .form-check-input {
    float: left;
    margin-left: -1.75em;
}
.form-check-input {
    width: 15px;
    height: 15px;
    margin-top: 0.125em;
    vertical-align: top;
    background-color: #f7f7fc;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    transition: background-color 0.15s ease-in-out, background-position 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-check-label {
    margin-top: 3px;
}
.form-check-input:focus {
    border-color: #a8c5f0;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(59, 125, 221, 0.25);
}
.form-check-input:checked {
    background-color: #3b7ddd;
    border-color: #3b7ddd;
}

/* SELECT */
.mb-3 {
    margin-bottom: 1rem !important;
}
.form-control {
    display: block;
    width: 100%;
    min-height: calc(1.8125rem + 2px);
    padding: 0.25rem 0.7rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    border: 1px solid #ced4da;
    box-shadow: none;
}
select {
    word-wrap: normal;
}
#msg-response > div.total {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}
#msg-response > div.total span:first-child {
    margin-right: 5px;
}
@media screen and (max-width: 992px) {
    .form-check-input {
        margin-top: 7px;
    }
    .form-check {
        align-items: flex-start;
    }
    .form-check-label {
        font-size: 18px;
        line-height: 1.4;
    }
    #project-section .form-card-input-group label {
        line-height: 1.4;
        margin-bottom: 5px;
    }
}
