/* Services Section
--------------------------------*/
@font-face {
	font-family: ionicons;
	src:url('../fonts/ionicons.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.section-header h3 {
  font-size: 36px;
  color: #413e66;
  text-align: center;
  font-weight: 700;
  position: relative;
}
#services h1, 
#services h2, 
#services h3, 
#services h4, 
#services h5, 
#services h6 {
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}
.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #535074;
  width: 50%;
}
p {
  padding: 0;
  margin: 0 0 30px 0;
}
#services {
  padding: 60px 0 40px 0;
}

#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#services .box:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#services .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#services .icon i {
  font-size: 36px;
  line-height: 1;
}

#services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: #111;
}

#services .box:hover .title a {
  color: #1bb1dc;
}

#services .description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}



#services .container .row div:nth-child(1) .box .icon {
  background: #fceef3;
}
#services .container .row div:nth-child(1) .box .icon i {
  color: #ff689b;
}
#services .container .row div:nth-child(2) .box .icon {
  background: #fff0da;
}
#services .container .row div:nth-child(2) .box .icon i {
  color: #e98e06;
}
#services .container .row div:nth-child(3) .box .icon {
  background: #e6fdfc;
}
#services .container .row div:nth-child(3) .box .icon i {
  color: #3fcdc7;
}
#services .container .row div:nth-child(4) .box .icon {
  background: #eafde7;
}
#services .container .row div:nth-child(4) .box .icon i {
  color:#41cf2e;
}
#services .container .row div:nth-child(5) .box .icon {
  background: #e1eeff;
}
#services .container .row div:nth-child(5) .box .icon i {
  color: #2282ff;
}
#services .container .row div:nth-child(6) .box .icon {
  background: #ecebff;
}
#services .container .row div:nth-child(6) .box .icon i {
  color: #8660fe;
}